<div class="col-md-4" *ngFor="let game of games">
  <div class="card text-center" style="margin-top:1em"></div>
  <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
    {{game.title}} <br>${{game.price}}
    <button class="btn btn-danger" (click)="deleteGame(game.id)">
        <i class="far fa-trash-alt"></i>
    </button>
  </div>
  <img [src]="game.image" class="card-img-top">
  <div class="card-body">
    <p>{{game.description}}</p>
    <a [routerLink]="['/games/edit', game.id]" class="btn btn-info btn-block">Edit Game</a>
    <button class="btn btn-success btn-block" (click)="increaseAmount(game.price, game)">Add to cart</button>
  </div>
</div> 